$color_menu:#f04949;
$color_bco:white;
$color_azul:#203748;
$color_rosa_osc:#b52f2f;
$color_verde:#39d084;
$color_verde_osc:#268954;
$color_face:#5173b6;
$color_twit:#3AA4D2;
$color_goog:#C2554A;
$color_pint:#BA323B;
$color_stum:#d25535;
$color_drib:#cc5c8b;

